---
import DocLayout from '@layouts/DocLayout.astro'
---

<DocLayout headerConfig={{ backUrl: '../' }}>
  <h1 id="foals">
    <strong>Foals</strong>
  </h1>
  <p>
    <img
      src="https://www.cleveland.com/resizer/v2/WNA3EXA4EREFVKWJUIOVXSB7FE.jpg?auth=d16606b1ec391272d3f42ad5f1a3b9d2b97a31b6bfacb2997b4a2c89a702a1c3&width=1280&smart=true&quality=90"
      alt="Foals 2022"
      title="Foals 2022"
    />
  </p>
  <p>
    Foals (stylised in <a
      href="https://en.wikipedia.org/wiki/All_caps"
      title="All caps">all caps</a
    >) are a British <a
      href="https://en.wikipedia.org/wiki/Rock_music"
      title="Rock music">rock</a
    > band formed in <a
      href="https://en.wikipedia.org/wiki/Oxford"
      title="Oxford">Oxford</a
    > in 2005. The band’s current line-up consists of Greek-born lead vocalist and
    guitarist
    <a
      href="https://en.wikipedia.org/wiki/Yannis_Philippakis"
      title="Yannis Philippakis">Yannis Philippakis</a
    >, drummer and percussionist Jack Bevan, guitarist and keyboardist Jimmy
    Smith, and bassist Walter Gervers.
  </p>
  <hr />
  <p>
    Foals are currently signed to <a
      href="https://en.wikipedia.org/wiki/Warner_Records"
      title="Warner Records">Warner Records</a
    >,<a href="https://en.wikipedia.org/wiki/Foals_(band)#cite_note-1">[1]</a> and
    have released seven studio albums to date: <em
      ><a
        href="https://en.wikipedia.org/wiki/Antidotes_(album)"
        title="Antidotes (album)">Antidotes</a
      ></em
    > (2008), <em
      ><a
        href="https://en.wikipedia.org/wiki/Total_Life_Forever"
        title="Total Life Forever">Total Life Forever</a
      ></em
    > (2010), <em
      ><a
        href="https://en.wikipedia.org/wiki/Holy_Fire_(album)"
        title="Holy Fire (album)">Holy Fire</a
      ></em
    > (2013), <em
      ><a
        href="https://en.wikipedia.org/wiki/What_Went_Down"
        title="What Went Down">What Went Down</a
      ></em
    > (2015), <em
      ><a
        href="https://en.wikipedia.org/wiki/Everything_Not_Saved_Will_Be_Lost_%E2%80%93_Part_1"
        title="Everything Not Saved Will Be Lost – Part 1"
        >Everything Not Saved Will Be Lost – Part 1</a
      ></em
    > and <em
      ><a
        href="https://en.wikipedia.org/wiki/Everything_Not_Saved_Will_Be_Lost_%E2%80%93_Part_2"
        title="Everything Not Saved Will Be Lost – Part 2">Part 2</a
      ></em
    > (2019), with the latter becoming the group’s first album to top the <a
      href="https://en.wikipedia.org/wiki/UK_Albums_Chart"
      title="UK Albums Chart">UK Albums Chart</a
    >, and their most recent, <em
      ><a
        href="https://en.wikipedia.org/wiki/Life_Is_Yours"
        title="Life Is Yours">Life Is Yours</a
      ></em
    > (2022). They have also released one <a
      href="https://en.wikipedia.org/wiki/Video_album"
      title="Video album">video album</a
    >, six <a
      href="https://en.wikipedia.org/wiki/Extended_play"
      title="Extended play">extended plays</a
    > and 35 <a
      href="https://en.wikipedia.org/wiki/Single_(music)"
      title="Single (music)">singles</a
    >.
  </p>
</DocLayout>
