---
import DocLayout from '@layouts/DocLayout.astro'
---

<DocLayout headerConfig={{ backUrl: '../' }}>
  <h1><strong>Radiohead</strong></h1>
  <p>
    <img
      src="https://picsum.photos/seed/radiohead/1280/720"
      alt="Radiohead"
      title="Radiohead"
    />
  </p>
  <p>
    Radiohead are an English rock band formed in <a
      href="https://en.wikipedia.org/wiki/Abingdon-on-Thames"
      title="Abingdon-on-Thames">Abingdon-on-Thames</a
    > in 1985. The band consists of <a
      href="https://en.wikipedia.org/wiki/Thom_Yorke"
      title="Thom Yorke">Thom Yorke</a
    > (lead vocals, guitar, piano), <a
      href="https://en.wikipedia.org/wiki/Jonny_Greenwood"
      title="Jonny Greenwood">Jonny Greenwood</a
    > (guitar, keyboards, other instruments), Colin Greenwood (bass guitar, synthesiser),
    Ed O'Brien (guitar, backing vocals) and Philip Selway (drums, percussion).
  </p>
  <hr />
  <p>
    Formed under the name "On a Friday" while still at school, the band took the
    name <em>Radiohead</em> from a song on Talking Heads' album <em
      ><a
        href="https://en.wikipedia.org/wiki/True_Stories_(Talking_Heads_album)"
        title="True Stories">True Stories</a
      ></em
    >. They have released nine studio albums to date, including <em
      ><a href="https://en.wikipedia.org/wiki/The_Bends" title="The Bends"
        >The Bends</a
      ></em
    > (1995), <em
      ><a href="https://en.wikipedia.org/wiki/OK_Computer" title="OK Computer"
        >OK Computer</a
      ></em
    > (1997), <em
      ><a href="https://en.wikipedia.org/wiki/Kid_A" title="Kid A">Kid A</a></em
    > (2000) and <em
      ><a href="https://en.wikipedia.org/wiki/In_Rainbows" title="In Rainbows"
        >In Rainbows</a
      ></em
    > (2007), the latter famously released as a pay-what-you-want download.
  </p>
</DocLayout>
