---
import DocLayout from '@layouts/DocLayout.astro'
import { unique } from '@scripts/utils/unique'

export function getStaticPaths() {
  const allPaths = Object.keys(
    import.meta.glob<Record<string, any>>([
      './*.{astro,html,mdx,md}',    // Root folder
      './**/*.{astro,html,mdx,md}', // Other folders
    ], {
      eager: true,
      query: '?url',
    }),
  )

  const folders = unique(
    allPaths
      .filter((path) => path.split('/').length > 2)
      .map((path) => path.replace(/^\.\/|\/[^\/]*$/g, '')),
  )

  return [
    ...folders.map((folder) => ({ params: { folder } })),
    { params: { folder: '' } },
  ]
}

const { folder } = Astro.params

const currentPath = folder ? `./${folder}/` : './'
const currentFolder = currentPath.split('/').slice(0, -1).pop()

const resolvedBack = folder
  ? currentPath.replace(`/${currentFolder}/`, '').replace('.', '')
  : null
const backPath = folder ? (resolvedBack || '/') : null

const contents = Object.keys(
  import.meta.glob<Record<string, any>>([
    './*.{astro,html,mdx,md}',    // Root folder
    './**/*.{astro,html,mdx,md}', // Other folders
  ], {
    eager: true,
    query: '?url',
  }),
).filter((path) => path.startsWith(currentPath))

const folders = unique(
  contents
    .filter((path) => path.replace(currentPath, '').split('/').length === 2)
    .map((path) => path.substring(0, path.lastIndexOf('/')).replace(currentPath, '')),
)

const pages = contents
  .filter((path) => path.replace(currentPath, '').split('/').length === 1)
  .map((path) => path.replace(/^\.(.+)\.[^.]+$/, '$1'))
---

<DocLayout headerConfig = {{backUrl: backPath}}>
  <h1>{folder ? currentFolder: 'home'}/</h1>
  { folders.length > 0 && <ul class="folders">
    {
      folders.map((path) => (
        <li>
          <a href={path}>{path.split('/').at(-1)}/</a>
        </li>
      ))
    }
  </ul>
  <hr />}
  {
  pages.length > 0 &&<ul class="pages">
    {
      pages.map((path) => (
        <li>
          <a href={path}>{path.split('/').at(-1)}</a>
        </li>
      ))
    }
  </ul>
  }
</DocLayout>
