---
import DocLayout from '@layouts/DocLayout.astro'

const pages = Object.keys(
  import.meta.glob<Record<string, any>>('./**/*.{astro,html,mdx,md}', {
    eager: true,
    query: '?url',
  }),
).filter((page) => !page.includes('...'))

// console.log(pages)
---

<DocLayout>
  <h1>ресерчи</h1>

  <ul class="pages">
    {
      pages.map((page) => (
        <li>
          <a href={page.substring(0, page.lastIndexOf('.'))}>
            {page.split('/').at(-1)}
          </a>
        </li>
      ))
    }
  </ul>
</DocLayout>
