---
import '@styles/header.sass'
import { Icon } from 'astro-icon/components'

const { hideBack, backUrl } = Astro.props
---

<header>
  <div class="left">
    <div class="icon-swap">
      {
        !hideBack && backUrl && (
          <a class="back" href={backUrl}>
            <Icon name="material-symbols:arrow-back" />
          </a>
        )
      }
    </div>
  </div>
  <div class="right">
    <button class="fonts"
      ><Icon name="material-symbols:square-outline" />
    </button>
    <button class="theme"
      ><Icon name="material-symbols:circle-outline" />
    </button>
  </div>
</header>
<script>
  import { cycleFonts } from '@scripts/actions/fonts'
  import { cycleThemes } from '@scripts/actions/themes'
  import { getByClass } from '@scripts/utils/getElements'

  const fontEl = getByClass('fonts')
  const themeEl = getByClass('theme')
  const backEl = getByClass('back')

  fontEl.addEventListener('click', cycleFonts)
  themeEl.addEventListener('click', cycleThemes)

  document.addEventListener('keydown', (e) => {
    if (e.code === 'KeyB' || e.code === 'Backspace') backEl?.click()
  })
</script>
