---
import DocLayout from '@layouts/DocLayout.astro'
---

<DocLayout headerConfig={{ backUrl: '../' }}>
  <h1><strong>Glass Animals</strong></h1>
  <p>
    <img
      src="https://picsum.photos/seed/glass-animals/1280/720"
      alt="Glass Animals"
      title="Glass Animals"
    />
  </p>
  <p>
    Glass Animals are an English indie rock band formed in <a
      href="https://en.wikipedia.org/wiki/Oxford"
      title="Oxford">Oxford</a
    > in 2010, fronted by singer and producer Dave Bayley alongside Drew MacFarlane,
    Edmund Irwin-Singer and Joe Seaward.
  </p>
  <hr />
  <p>
    The band's woozy, sample-heavy sound spans three studio albums, <em
      ><a href="https://en.wikipedia.org/wiki/Zaba_(album)" title="ZABA"
        >ZABA</a
      ></em
    > (2014), <em
      ><a
        href="https://en.wikipedia.org/wiki/How_to_Be_a_Human_Being"
        title="How to Be a Human Being">How to Be a Human Being</a
      ></em
    > (2016) and <em
      ><a
        href="https://en.wikipedia.org/wiki/Dreamland_(Glass_Animals_album)"
        title="Dreamland">Dreamland</a
      ></em
    > (2020). The latter's single "Heat Waves" spent a record-breaking 91 weeks
    on the US Billboard Hot 100.
  </p>
</DocLayout>
